%position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%input-style {
  border: 1px solid $light-gray;
  border-radius: 5px;
  font-size: 16px;
  color: $main-color;
  padding: 0.5em;
  &::placeholder {
    color: $light-gray;
  }
  &:invalid {
    color: $light-gray;
  }
  &:hover, &:focus {
    border-color: $dark-gray;
  }
  
}

@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: "#{$i}";
      font-size: 1rem;
    }
  }
}